.banner {
  width: 100%;
  border-radius: 25px;
  @include flex-center;
  box-shadow: $box-shadow;
  @include background-img-banner($img_falaise);
  br {
    display: none;
  }
  h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
  }
  &__about {
    @extend .banner;
    @include background-img-banner($img_montagne, 223px, rgba(0, 0, 0, 0.3));
  }
}

@include respond-to("mobile") {
  .banner {
    width: 100%;
    @include background-img-banner($img_falaise, 111px);
    h1 {
      font-size: 24px;
    }
    br {
      display: block;
    }
    &__about {
      @include background-img-banner($img_montagne, 111px, rgba(0, 0, 0, 0.3));
    }
  }
}
