.collapse {
  @include flex-column;
  &__btn {
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px 10px 15px;
    @include flex-between;
    border: none;
    border-radius: 10px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  &__icon {
    transition: transform 0.3s ease;
  }

  &__icon.open {
    transform: rotate(-180deg);
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding-top 0.3s ease-out,
      padding-bottom 0.3s ease-out;
    background-color: $background-color;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__content.open {
    max-height: 1000px;
    padding-bottom: 20px;
    padding-top: 1rem;
  }
}

@include respond-to("mobile") {
  .collapse__btn {
    font-size: 13px !important;
    padding: 10px !important;
  }
  .collapse__content {
    font-size: 13px;
  }
}
