.footer {
  background-color: #000;
  text-align: center;
  img {
    margin-top: 66px;
  }
  p {
    color: white;
    padding-bottom: 29px;
    br {
      display: none;
    }
  }
}

@include respond-to("mobile") {
  .footer {
    p {
      padding-bottom: 58px !important;
    }
    br {
      display: block !important;
    }
  }
}
