.header {
  @include flex-between;
  margin: 45px 100px 0 100px;
  &__logo {
    max-height: 68px;
  }
  ul {
    display: flex;
    list-style-type: none;
  }
  &__link {
    padding-left: 57px;
    font-size: 24px;
    font-weight: 500;
  }
  .active {
    text-decoration: underline;
  }
}

@include respond-to("mobile") {
  .header {
    margin: 20px 20px 0 20px;
    &__link {
      font-size: 12px !important;
      padding-left: 27px !important;
      text-transform: uppercase;
    }
    &__logo {
      max-width: 145px;
    }
  }
}
