// color
$box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
$primary-color: #ff6060;
$secondary-color: #ffffff;
$background-color: #f6f6f6;

// breakpoints
$breakpoints: (
  "mobile": 720px,
  "tablet": 900px,
  "tablet-landscape": 1024px,
  "desktop": 1200px,
);

// IMG
$img_falaise: "../img/falaise.png";
$img_montagne: "../img/montagne.png";
