// Import font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

// Import feuille de reset
@import "base/reset";

// Import des feuille asbtracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Import des feuilles des Layout
@import "layout/header";
@import "layout/footer";

// Import des feuilles des pages
@import "pages/home";
@import "pages/about";
@import "pages/error";
@import "pages/housingDetail";

// Import des feuilles des composants
@import "components/banner";
@import "components/card";
@import "components/cardList";
@import "components/collapse";
@import "components/slider";
@import "components/rating";
